th,
td {
  border: 1px solid black;
}

.table1 {
  border-collapse: collapse;
}

#id1 th {
  background-color: aquamarine;
}

.search2 {
  width: 50%;
  border-radius: 15px;
  border: 1px solid black;
  padding: 5px 5px 5px 10px;
}
